@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,900;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 antialiased selection:bg-stone-200;
  }
}

/* Custom styles for Tiptap Editor */
.prose-stone .tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.tiptap {
  min-height: 200px;
  outline: none !important;
}

/* Custom Calendar Styles */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #1c1917;
  --rdp-background-color: #f5f5f4;
  margin: 1em;
}

.rdp-day_selected {
  background-color: var(--rdp-accent-color) !important;
  color: white !important;
}

/* Visibility classes to support Dash HUD & Control panel toggling */
.ui-hidden {
  display: none !important;
}
